body {
    margin: 0 !important;;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.wrapper-img {
    width: 530px;
    height: 350px;
    margin-top: 150px;
    background: url("../img/nature.jpeg") center no-repeat;
    position: relative;
    overflow: hidden;
}

.container-item {
    width: 530px;
    height: 350px;
}

.wrapper-item {
    position: absolute;
    top: 37%;
    left: 43%;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.btn-first {
    background-color: #ff4500;
    padding: 10px;
    color: #ffff;
    opacity: 0.7;
}

.btn-remove {
    display: none;
}

.btn-add {
    cursor: grab;
}